<div class="row">
    <div class="col-4"></div>

    <div class="col-4">

        <h1>StaticPages#landing_page</h1>
        <p>Find me in app/views/static_pages/landing_page.html.erb</p>

    </div>

    <div class="col-4"></div>
</div>
