<% if flash[:notice] %>
    <div class="alert alert-info close system-messages">
        <%= notice %>
    </div>
<% end %>
<% if flash[:alert] %>
    <div class="alert alert-info close system-messages">
        <%= alert %>
    </div>
<% end %>


