  .bg-image {
    background-image: url('../images/fade-away.jpg');
    height: 100vh;

  }
  
  .display-1 {
    font-weight: 500 !important;
    letter-spacing: 40px;
  }
  
  @media (min-width: 1600px) {
    .display-1 {
      font-size: 10rem;
    }
  }