  .main-bg-image {
    background-image: url('../images/solos-workspace.jpeg');
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .display-1 {
    font-weight: 500 !important;
    letter-spacing: 40px;
  }
  
  @media (min-width: 1600px) {
    .display-1 {
      font-size: 10rem;
    }
  }