.fas.fa-trash:hover {
color: #f44336 !important;
}

.fas.fa-edit:hover {
color: #0d47a1 !important;
}

.all-projects {
    margin-top: 4rem;
    text-align: center;
}

.user-projects {
    margin-top: 4rem;
    text-align: center;
    .mask {
        text-align: center;
        .mask-text {
            top: 50%;
            position: relative;
            color: whitesmoke;
        }
    }
}

.new-project {
    margin-top: 4rem;
    text-align: center;
}

.project-card {
    max-width: 21rem;
    display: inline-block;
    padding: 0.5rem;
    text-align: left;
}

.edit-project {
    margin-top: 4rem;
    text-align: center;
}

.show-project {
    margin-top: 4rem;
    text-align: center;
}


