.fas.fa-trash:hover {
color: #f44336 !important;
}

.fas.fa-edit:hover {
color: #0d47a1 !important;
}

.all-projects {
    margin-top: 4rem;
    text-align: center;
}

.user-projects {
    margin-top: 4rem;
    text-align: center;
    .mask {
        text-align: center;
        .mask-text {
            top: 50%;
            position: relative;
            color: whitesmoke;
        }
    }
}

.new-project {
    margin-top: 4rem;
    text-align: center;
}

.project-card {
    max-width: 21rem;
    display: inline-block;
    padding: 0.5rem;
    text-align: left;
}

.edit-project {
    margin-top: 4rem;
    text-align: center;
}

.bg-img {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    filter: blur(10px);
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.show-project {
    padding-top: 3.65rem;
    z-index: 100;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: whitesmoke;
    text-align: -webkit-center;
    .img-wrapper {
        z-index: 100;
        padding: 5%;
        display: inline-block;
    }
    .carousel {
        height: 200px;
        width: 200px;
    }
}
